<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>resources</title>
        {% block csses %}{% endblock %}
        <script type="text/javascript" language="javascript"  src="/App/static/vue.js"></script>
        <script type="text/javascript" language="javascript"  src="/App/static/vuex.js"></script>
        <script type="text/javascript" language="javascript"  src="/App/static/axios.js"/></script>
        <script type="text/javascript" language="javascript"  src="/App/static/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/App/static/vueextend.js" charset="utf-8"></script>        
        <script type="text/javascript" language="javascript" src="/App/static/config.js" charset="utf-8"></script>        
        <script type="text/javascript" language="javascript" src="/App/static/api.js" charset="utf-8"></script>        
        {% block before_scripts %}{% endblock %}
    </head>
    <body>
        {% block page_content%}{% endblock %}
        {% block scripts%}{% endblock %}
    </body>
</html>