{% extends "base.html" %}
{% block csses %}
{% endblock %}
{% block page_content %}
<div id="image">
    {{image.md5}}
</div>
{% endblock %}
{% block scripts %}
<script>
    var image = new Vue({
        el: '#image',
        data: {
            items: [],
            image: '',
        },
        methods: {
            get() {
                if(isfirst){
                    this.items = [];
                    this.pageindex = 1;
                }
                axios.get('/api/image/' + this.id)
                    .then((response) => {
                        console.log(response);
                        if(response.status=200){                            
                            this.image = response.data;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });                
            },
        },
        mounted: function () {
            this.get()
        },   
    })
</script> 
{% endblock %}