{% extends "base.html" %} {% block csses %}
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .waterwall {
        padding: 15px 5px 0px 5px;
        min-width: 800px;
    }

    .waterwall .box {
        width: 24%;
        float: left;
        padding: 3px;
        cursor: pointer;
    }

    .waterwall .box img {
        width: 100%;
    }

    .select{
        margin:5px 5px 0px 15px;
        position: absolute;
    }
</style>
{% endblock %} {% block page_content %}
<span style="display:none;">{{ name }}</span>
<div id="images">
    <div class="select">
        <template v-if="isshowselect">
            <div>
                <label for="score"></label>
                <select v-model="score">
                    <option>0</option>
                    <option>19</option>
                    <option>49</option>
                    <option>99</option>
                </select>
                <label for="tag"></label>
                <input name="tag" type="text" v-model="tag" />
                <button type="button" v-on:click="get()">查询</button>
            </div>
        </template>
        <template v-else>
            <span v-text="'共:'+total"></span>
            <button type="button" v-on:click="showselect()">查询</button>
        </template>
    </div>
    <div class="waterwall">
        <div class="box">
            <div v-for="item in items1" v-on:click="gotodetail(item.id)">
                <img v-bind:src="item.url" v-bind:title="item.title"/>
                <!-- {{item.md5}} -->
            </div>
        </div>
        <div class="box">
            <div v-for="item in items2" v-on:click="gotodetail(item.id)">
                <img v-bind:src="item.url" v-bind:title="item.title"/>
                <!-- {{item.md5}} -->
            </div>
        </div>
        <div class="box">
            <div v-for="item in items3" v-on:click="gotodetail(item.id)">
                <img v-bind:src="item.url" v-bind:title="item.title"/>
                <!-- {{item.md5}} -->
            </div>
        </div>
        <div class="box">
            <div v-for="item in items4" v-on:click="gotodetail(item.id)">
                <img v-bind:src="item.url" v-bind:title="item.title"/>
                <!-- {{item.md5}} -->
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    var images = new Vue({
        el: '#images',
        data: {
            items1: [],
            items2: [],
            items3: [],
            items4: [],            
            total: '',
            itemindex:0,

            pagesize: 10,
            pageindex: 1,
            score: 0,
            tag: '',

            isshowselect: false,
        },
        computed: {
            paramesdata: function () {
                return { params: { score: this.score, tag: this.tag } }
            }
        },
        methods: {
            showselect() {
                this.isshowselect = true;
            },
            additems(newlist) {
                this.isend = newlist.length == 0;
                for (var i = 0; i < newlist.length; i++) {                    
                    newlist[i].pageindex = this.pageindex;
                    newlist[i].title = "scroe:" + newlist[i].score + ";tags:" + newlist[i].tags;
                    var columnindex=(this.itemindex+1)%4+1;
                    switch(columnindex){
                        case 1:                        
                            this.items1.push(newlist[i]);
                            break;
                        case 2:                        
                            this.items2.push(newlist[i]);
                            break;
                        case 3:                        
                            this.items3.push(newlist[i]);
                            break;
                        case 4:                        
                            this.items4.push(newlist[i]);
                            break;
                    }
                    this.itemindex=this.itemindex+1;
                }
                if (!this.isend) {
                    this.getbychange(false);
                };
            },
            get(isfirst = true) {
                this.isshowselect = false;
                if (isfirst) {
                    this.items1 = [];this.items2 = [];this.items3 = [];this.items4 = [];
                    this.pageindex = 1;
                }
                else {
                    this.pageindex = this.pageindex + 1;
                    if (this.isend)
                        return;
                }
                axios.get('/api/images/' + this.pageindex, this.paramesdata)
                    .then((response) => {
                        console.log(response);
                        if (response.status = 200) {
                            this.total = response.data.count;
                            this.additems(response.data.list);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getbychange() {
                //滚动条所在位置的高度
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
                //当前文档高度   小于或等于   滚动条所在位置高度  则是页面底部
                if (($(document).height()) <= totalheight + 10) {
                    //页面到达底部
                    this.get(false)
                }
            },
            gotodetail(id) {
                //window.location.href=''
                window.open("detail?id=" + id + "&pageindex=" + this.pageindex + "&score=" + this.score + "$tag=" + this.tag);
            },
        },
        mounted: function () {
            this.get()
            self = this;
            $(window).scroll(function () {
                self.getbychange()
            });
            window.onresize = function () {
                self.getbychange()
            }
        },
    })
</script> {% endblock %}