{% extends "base.html" %} {% block csses %}
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .waterwall {
        padding: 15px 5px 0px 5px;
        min-width: 800px;
    }

    .waterwall .box {
        width: 24%;
        float: left;
        padding: 3px;
        cursor: pointer;
    }

    .waterwall .box img {
        width: 100%;
    }

    .select {
        margin: 5px 5px 0px 15px;
        position: fixed;
    }
</style>
{% endblock %} {% block page_content %}
<span style="display:none;">{{ name }}</span>
<div id="images">
    <div class="select">
        <template v-if="isshowselect">
            <div>
                <label for="score"></label>
                <select v-model="score">
                    <option>0</option>
                    <option>19</option>
                    <option>49</option>
                    <option>99</option>
                </select>
                <label for="tag"></label>
                <input name="tag" type="text" v-model="tag" />
                <button type="button" v-on:click="get()">查询</button>
            </div>
        </template>
        <template v-else>
            <span v-text="'共:'+total"></span>
            <button type="button" v-on:click="showselect()">查询</button>
        </template>
    </div>
    <div class="waterwall">
        <div class="box">
            <div v-for="item in items[0]" v-on:click="gotodetail(item.detailurl)">
                <!-- {{item.md5}} -->
                <img v-bind:src="item.url" v-bind:title="item.title" />
            </div>
        </div>
        <div class="box">
            <div v-for="item in items[1]" v-on:click="gotodetail(item.detailurl)">
                <!-- {{item.md5}} -->
                <img v-bind:src="item.url" v-bind:title="item.title" />
            </div>
        </div>
        <div class="box">
            <div v-for="item in items[2]" v-on:click="gotodetail(item.detailurl)">
                <!-- {{item.md5}} -->
                <img v-bind:src="item.url" v-bind:title="item.title" />
            </div>
        </div>
        <div class="box">
            <div v-for="item in items[3]" v-on:click="gotodetail(item.detailurl)">
                <!-- {{item.md5}} -->
                <img v-bind:src="item.url" v-bind:title="item.title" />
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    const store = new Vuex.Store({
        state: {
            imagedata: {
                items: [],
                total: 0,
                currentindex: -1,
                isend: 0,
                pageindex: 0,
                pagesize: 20,
            }
        },
        getters: {
            imagecurrentindex: state => {
                return state.imagedata.items.currentindex;
            }
        },
        mutations: {
            imagenext(state, obj) {
                var items = state.imagedata.items;
                var currentindex = state.imagedata.currentindex;
                var isend = state.imagedata.isend;
                if(!isend){
                    if (currentindex + 1 > items.length) {
                        var pagenumber = state.imagedata.pageindex + 1;
                        var pagesize = state.imagedata.pagesize;
                        var paramesdata = { params: { score: obj.score, tag: obj.tag, pagesize: pagesize } }
                        axios.get('/api/images/' + pagenumber, paramesdata)
                            .then((response) => {
                                console.log(response);
                                if (response.status = 200) {
                                    state.imagedata.total = response.data.total;
                                    var list = response.data.items;
                                    if (list.length > 0) {
                                        for (var i = 0; i < list.length; i++) {
                                            list[i].title = "scroe:" + list[i].score + ";tags:" + list[i].tags;
                                            list[i].detailurl = "detail?id=" + list[i].id + "&pageindex=" + pagenumber + "&score=" + obj.score + "$tag=" + obj.tag;
                                            state.imagedata.items.push(list[i]);
                                        }
                                        state.imagedata.currentindex = currentindex + 1;
                                        state.imagedata.pageindex = pagenumber;
                                    }
                                    else {
                                        state.imagedata.isend = true;
                                    }
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                    else {                            
                        state.imagedata.currentindex = currentindex + 1;
                    }
                }
            },
        },
        actions: {
            imagenext(context, obj) {
                context.commit('imagenext', obj)
            }
        }
    })

    var images = new Vue({
        el: '#images',
        store,
        data: {
            items:[[],[],[],[]],
            score: 0,
            tag: '',
            isshowselect: false,
        },
        computed: {
            imagecurrentindex: function () {
                return store.state.imagedata.currentindex;
            },
            total: function () {
                return store.state.imagedata.total;
            }
        },
        watch: {
            imagecurrentindex() {
                var image = store.state.imagedata.items[this.imagecurrentindex];
                if (image != undefined)
                    this.addimage(image);
                Vue.nextTick(function () {
                    // alert(store.state.imagedata.currentindex);
                    images.getbychange();
                });
            }
        },
        methods: {
            showselect() {
                this.isshowselect = true;
            },
            addimage(image) {
                var mincolumnindex = 0;
                var minheight = $($('.box')[0]).height();
                for (var i = 1; i < 4; i++) {
                    var currentheight = $($('.box')[i]).height();
                    if (minheight > currentheight) {
                        mincolumnindex = i;
                        minheight = currentheight;
                    }
                }
                this.items[mincolumnindex].push(image);
            },
            get(isfirst = true) {
                this.isshowselect = false;
                if (isfirst) {
                    this.items=[[],[],[],[]];
                }
                // 以载荷形式分发
                store.dispatch('imagenext', { tag: this.tag, score: this.score })
                // store.commit('imagenext', { tag: this.tag, score: this.score })
            },
            getbychange() {
                //滚动条所在位置的高度
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
                //当前文档高度   小于或等于   滚动条所在位置高度  则是页面底部
                if (($(document).height()) <= totalheight + 10) {
                    //页面到达底部
                    this.get(false)
                }
            },
            gotodetail(url) {
                //window.location.href=''
                window.open(url);
            },
        },
        mounted: function () {
            this.get()
            self = this;
            // $(window).scroll(function () {
            //     self.getbychange()
            // });
            $(window).scroll(function(){Vue.Debounce(self.getbychange(), 1000, true)});
            window.onresize = Vue.Debounce(function () {
                self.getbychange()
            },2000)
        },
    })
</script> {% endblock %}