{% extends "base.html" %}
{% block csses %}
<style>
    .list > div{
        width:25%;
        min-width: 100px;
        float: left;
    }

    .list > div img{
        width:100%;
    }
</style>
{% endblock %}
{% block page_content %}
<span>{{ name }}</span>
<div id="images">
    <div>
        <label for="score"></label>
        <select v-model="score">
            <option>0</option>
            <option>10</option>
            <option>50</option>
        </select>
        <label for="tag"></label>
        <input name="tag" type="text" v-model="tag" />
        <button type="button" v-on:click="get()">查询</button>
    </div>
    <div>
        <span v-text="total"></span>
        <!-- <button type="button" v-on:click="get(false)">继续</button> -->
    </div>
    <div class="list">
        <div v-for="item in items"  v-on:click="gotodetail(item.id)">
            <span v-text="item.md5"></span>
            <!--{{item.tags}}-->
            <img v-bind:src="item.url"/>
        </div>        
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var images = new Vue({
        el: '#images',
        data: {
            items: [],
            total: '',
            pagesize: 10,
            pageindex: 1,
            score: 0,
            tag: '',
        },
        methods: {
            additems(newlist) {
                isend = newlist.length==0;
                for (var i = 0; i < newlist.length; i++) {
                    newlist[i].pageindex=this.pageindex;
                    this.items.push(newlist[i]);
                }
                if(!isend){
                    this.pageindex = this.pageindex + 1;
                    this.getbychange(false);
                };
            },
            paramesdata() {
                return { params: { score: this.score, tag: this.tag } }
            },
            get(isfirst=true) {
                if(isfirst){
                    this.items = [];
                    this.pageindex = 1;
                }
                axios.get('/api/images/' + this.pageindex, this.paramesdata())
                    .then((response) => {
                        console.log(response);
                        if(response.status=200){
                            this.total = response.data.count;
                            this.additems(response.data.list);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });                
            },
            getbychange(){
                //滚动条所在位置的高度
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
                //当前文档高度   小于或等于   滚动条所在位置高度  则是页面底部
                if(($(document).height()) <= totalheight+10) {
                    //页面到达底部
                    this.get(false)
                } 
            },
            gotodetail(id){
                //window.location.href=''
                window.open("detail?id="+id+"&pageindex="+this.pageindex+"&score="+this.score+"$tag="+this.tag);
            }
        },
        mounted: function () {
            this.get()    
            self = this;        
            $(window).scroll(function(){
                self.getbychange()
            });
            window.onresize = function(){
                self.getbychange()
            }
        },   
    })
</script> 
{% endblock %}