{% extends "base.html" %} {% block csses %}
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .waterwall {
        padding: 15px 5px 0px 5px;
        min-width: 800px;
    }

    .waterwall .box {
        width: 24%;
        float: left;
        padding: 3px;
        cursor: pointer;
    }

    .waterwall .box img {
        width: 100%;
    }

    .select {
        margin: 5px 5px 0px 15px;
        position: fixed;
    }
</style>
{% endblock %} {% block page_content %}
<span style="display:none;">{{ name }}</span>
<div id="test" style="height:1000px">
    <button>开始</button>
</div>
{% endblock %} {% block scripts %}
<script>
    var number = 0;

    var debounce = function (func, threshold, execAsap) {  
        var timeout;  
        return function debounced () {  
            var obj = this, args = arguments;  
            function delayed () {  
                if (!execAsap)  
                func.apply(obj, args);  
                timeout = null;  
            };  
            if (timeout)  
                clearTimeout(timeout);  
            else if (execAsap)  
                func.apply(obj, args);  
            timeout = setTimeout(delayed, threshold || 100);  
        };  
    } 
    // window.onresize = debounce( function(){  
    //     console.log( 'hello world');  
    // }, 1000, true) 
    var test = new Vue({
        el: "test",
        data: {
            number: 0,
        },
        methods: {
            show() {
                this.number = this.number + 1;
                console.log(this.number);
            },
        },
        mounted: function () {
            self = this;
            $(window).scroll( Vue.Debounce(function () {
                self.show()
            }, 1000, true));
            window.onresize = Vue.Debounce(function () {
                self.show()
            }, 2000)
           
        },
    });

</script> {% endblock %}